@model ViewModels.GeneralInformationPartialViewModel

<div id="genInfo" class="tab-pane col-12">
    <div class="row">
        <div class="col-12 text-center">
            <h2 style="text-decoration:underline">Invitation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="h4">Organization Detail</p>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Organization Name: </label>
                <input asp-for="OrganizationName" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Broker Name: </label>
                <input asp-for="BrokerName" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Preferred Currency: </label>
                <input asp-for="PreferredCurrency" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nature of Business: </label>
                <input asp-for="NatureOfBusiness" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Logo: </label>
                <input asp-for="LogoFile" class="form-control" />
            </div>
        </div>


        <div class="col-12">
            <p class="h4">Contact Person Detail</p>
        </div>

        <div class="col-12">
            <p class="h5">Personal Details</p>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Title: </label>
                <input asp-for="FillerTitle" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Last Name: </label>
                <input asp-for="FillerLastName" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>First Name: </label>
                <input asp-for="FillerFirstName" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Other Name: </label>
                <input asp-for="FillerOtherName" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Job Title: </label>
                <input asp-for="FillerJobTitle" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Department: </label>
                <input asp-for="FillerDepartment" class="form-control" />
            </div>
        </div>

        <div class="col-12">
            <p class="h5">Address Details</p>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Address Line 1: </label>
                <input asp-for="Address1" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Address Line 2: </label>
                <input asp-for="Address2" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>City: </label>
                <input asp-for="City" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>State: </label>
                <input asp-for="State" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Postal Code: </label>
                <input asp-for="PostalCode" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Country: </label>
                <input asp-for="Country" class="form-control" />
            </div>
        </div>

        <div class="col-12">
            <p class="h5">Contact Details</p>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Primary E-mail: </label>
                <input asp-for="Email1" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Secondary E-mail: </label>
                <input asp-for="Email2" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Phone Number 1: </label>
                <input asp-for="PhoneNumber1" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Phone Number 2: </label>
                <input asp-for="PhoneNumber2" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Access Level: </label>
                <input asp-for="AccessLevel" class="form-control" />
            </div>
        </div>

        <div class="col-12">
            <p class="h3">Mandatory Attachments</p>

            <table class="table table-responsive-sm table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>S/N</th>
                        <th>File to Upload</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Detail Company Profile</td>
                        <td>
                            <input type="file" />
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Certificate of Incorporation</td>
                        <td>
                            <input type="file" />
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Tax Registration Certificate</td>
                        <td>
                            <input type="file" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-12">
        <p class="h3">Non-Mandatory Attachments</p>

        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr class="table-primary">
                    <th>S/N</th>
                    <th>File to Upload</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Evidence of Current Tax Certificate for Three Years</td>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Evidence of Current Bureau of Public Procurement Registration Certificate</td>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Evidence of Current  NSITF Compliance Certificate</td>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Evidence of Current PENCOM Compliance Certificate</td>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Evidence of Current ITF Compliance Certificate</td>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Bank Guaranty/Bond</td>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Three years Audited financial Statements</td>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
