
<div id="tnc" class="tab-pane">
    <div class="col-12 text-center">
        <h2 style="text-decoration:underline">Terms and Conditions</h2>
    </div>
    <div>
        <h3 class="font-weight-bold px-3">
            Definitions of Terms
        </h3>
        <p class="px-3 py-1">
            <b>Bidder</b> means a person or legal entity that is competing in the online negotiation by submitting Bids on the Platform.
            <b>Platform</b> means the Vendor Access Point (VAP).
            <b>Services</b> means the content, features and functionality provided via this Platform.
            <span class="h4">Bidder Role</span>
            By accepting to participate in this Bid, Bidder agree to be bound by any Terms and Conditions of the Procurement process provided by the “Company Name” as part of the negotiation. And by registering with this Platform, Bidder agree to be entered into “Company Name” database and to have Bidder’s detail shared with other users of the Platform.
            Bidder undertake to us that the Contact Person information in the Respondent and Organization profiles is true and accurate and that designated Contact Person has the authority to bind Bidder Organization to this agreement.
            Bidder agree to keep Contact Person profile information up-to-date and Contact Person is responsible for keeping personal password secured and confidential. Contact Person should not allow, relate or permit password to be revealed to any other party. Contact Person is responsible for use of the Platform when access to it is obtained using Username and Password.
            Bids are binding. Any Bid made by Bidder constitutes a legal offer to buy from or sell to “Company Name”. Bidder may not retract a bid except in limited circumstances. If Bidder make an obvious error, Bidder should contact the helpdesk immediately who will be able to assist.
            “Company Name” will determine whether to award a contract, or to whom to award the contract, after the online Bid submission and negotiation has completed. First placed Bidders will not automatically be awarded any contract however, they will be favoured.
            “Company Name” may exclude Bidders from an online negotiation at their sole discretion, even after Bid submission.
            Any illegal and/or unauthorized uses of the “Vendor Access Point” including collecting usernames and/or email addresses of members by electronic or other means for the purpose of sending unsolicited email and unauthorized framing of or linking to the Platform will be investigated, and appropriate legal action will be taken at “Company Name” discretion, including without limitation, civil, criminal, and injunctive redress.
            “Company Name” is entitled but not obliged to review and delete any content, messages and images (collectively, 'Content') that in “Company Name” sole judgment violate these Terms and Conditions or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of other Bidders.
            Bidder is solely responsible for the content that is uploaded, created, sent, published or displayed (hereinafter, 'Post') on the Platform, or transmitted to other Bidders. “Company Name” will not be responsible, or liable to any third party, for the content or accuracy of the content posted by Bidder on the Platform. “Company Name” reserve the right to disclose Bidder identity to any third party who claims that any content posted by Bidder on the Platform constitutes a violation of their Intellectual Property Rights, or of their right to privacy.
            “Company Name” is entitled to investigate and revoke a Bidder’s participation, if such Bidder has misused the Platform services, or behaved in a way which could be regarded as inappropriate or whose conduct is unlawful or illegal or prohibited by these Terms and Conditions. Bidder warrant and undertake that it shall not post any content to the Platform that: Infringes upon the Intellectual Property Rights of, or breaches any duty of confidence to, any third party;
            Is technically harmful such as computer viruses, or other malicious software or harmful data;
            Expresses or implies that any statements Bidder make are made or endorsed by “Company Name”;
            Harasses or advocates harassment of another person;
            Involves the transmission of 'junk mail', 'chain letters', or unsolicited mass mailing or 'spamming';
            Bidder shall undertake to use the service in a manner consistent with all applicable laws and regulations.
            Bidder must not attempt to gain unauthorized access to the Platform, the server on which the Platform is stored or any server, computer or database connected to the Platform. Bidder must not attack the Platform via a denial-of-service attack or a distributed denial-of service attack. “Company Name” will report any such breach to the relevant law enforcement authorities and “Company Name” will co-operate with those authorities by disclosing Bidder’s identity to them. In the event of such a breach, Bidder’s right to use the Platform will cease immediately.
            “Company Name” will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect Bidder’s computer equipment, computer programs, data or other proprietary material due to Bidder’s use of this Platform or to Bidder’s downloading of any material posted on it, or on any site linked to it.
            Use of this Platform is at Bidder’s sole risk. “Company Name” will not be liable for any Direct, Indirect or Consequential Loss, however, arising as a result of Bidder’s use or reliance on the Platform.
            (“Company Name) Role.
            “Company Name” acknowledge that due to the nature of the internet “Company Name” cannot guarantee that access to the Platform will be uninterrupted or that emails or other electronic transmissions will be sent to Bidder or received by “Company Name” or that the content of such transmissions will be secure during transmission.
            “Company Name” is not bound to pre-qualify any Bidder and reserve the right to;
            Terminate or discontinue any online Bid or negotiation and exclude Bidder from using the services where Bidder is in breach of these Terms and Conditions
            Suspend, withdraw or cancel the Bid process at any time or stage of the Procurement process without recourse to Bidder and without incurring any liabilities.
            General
            Bidder is granted a limited access to use this Platform solely for the purposes of use connected with the Bid. All content of this Platform including but not limited to the text, graphics and links are owned by “Company Name” and may not be copied, downloaded, distributed or published in any way without “Company Name” prior written permission.
            “Company Name” reserve the right to change these Terms and Conditions at any time. Changes will take effect when posted to the Platform. Bidder should visit this page from time to time to review the current Terms and Conditions as they are binding on Bidder.
            If “Company Name” do not enforce any provision of these Terms and Conditions such will not be considered a waiver of any provision or right.
            In the event that any part of these Terms and Condition is considered to be unenforceable, such part will at “Company Name” option be interpreted as far as possible to reflect the parties' intents and the remainder of the provisions of the Terms and Condition will remain in full force and effect.
            Signed

            Management
        </p>
        <div class="text-center my-2">
            <div class="form-group mb-0">
                <label class="btn btn-outline-dark pl-4">
                    <input name="T&C" class="form-check-input" type="radio" checked value="Agree">
                    Agree
                </label>
                <label class="btn btn-outline-dark pl-4">
                    <input name="T&C" class="form-check-input" type="radio" value="Disagree">
                    Disagree
                </label>
            </div>
        </div>
    </div>
</div>