@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using DcProcurement
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BsslProcurement</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet">
    <link href="~/lib/jquery/dist/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />

    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
    <style>
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
    @RenderSection("Styles", required: false)

    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

    <div class="wrapper" style="transform: none !important;">
        @if (SignInManager.IsSignedIn(User))
        {
            <nav id="sidebar" class="no-print" style="transform: none !important;">
                <div class="sidebar-header">
                    <h3>DcProcurement</h3>
                </div>

                <ul class="list-unstyled components">


                    <li>
                        <a href="#transactionSubMenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <i class="fas fa-comment mr-1"></i>Purchase Requisition</a>
                        <ul class="collapse list-unstyled" id="transactionSubMenu">
                            <li>

                                <secure-content proc-nodiscovery="true" asp-page="/Staff/ItemRequisition/NewRequisition"><i class="fas fa-shopping-cart"></i>Create Purchase Requisition</secure-content>
                               

                                <secure-content proc-nodiscovery="true" asp-page="/Staff/ItemRequisition/SavedRequisitions"><i class="fas fa-shopping-cart"></i> View Saved Requisition</secure-content>
                                <secure-content proc-nodiscovery="true" asp-page="/Staff/ItemRequisition/AllRequisition"><i class="fas fa-shopping-cart"></i> View Approved Requisition</secure-content>
                                <secure-content proc-nodiscovery="true"><i class="fas fa-shopping-cart"></i>Import Requisition</secure-content>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ProcurementSubMenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <i class="fas fa-comment mr-1"></i>Procurement Process</a>
                        <ul class="collapse list-unstyled" id="ProcurementSubMenu">
                            <li>
                                <a asp-page="/Staff/ItemRequisition/ProcCommencement/AllRequisition"><i class="fas fa-shopping-cart"></i>Approved Purchase Requisitions</a>
                                <a asp-page="/Staff/ItemRequisition/ItemPricing/AllRequisitionItemPricing"><i class="fas fa-shopping-cart"></i>Procurement Costing</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#bidSubMenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <i class="fas fa-comment mr-1"></i>Bid Preparation</a>
                        <ul class="collapse list-unstyled" id="bidSubMenu">
                            <li>
                                <a asp-page="/Staff/ItemRequisition/BidPreparation/ClearedRequisitions"><i class="fas fa-shopping-cart"></i>Cleared Requisitions</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <i class="fas fa-file-alt mr-1"></i> Reports/Inquiry
                        </a>
                        <ul class="collapse list-unstyled" id="accountSubmenu">
                            <li>
                                <a asp-page="/Staff/Reports/Preq/PreqReport"><i class="fas fa-file-archive mr-1"></i> Procurement Report</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-file-invoice mr-1"></i> PR Inquiry Form</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#vendorSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <i class="fas fa-user-alt mr-1"></i> Vendor
                        </a>
                        <ul class="collapse list-unstyled" id="vendorSubmenu">
                            <li>
                                <a asp-page="/Vendor/Prequalification"><i class="fas fa-file-archive mr-1"></i> Prequalification</a>
                            </li>
                            <li>
                                <a asp-page="/Vendor/Bidding"><i class="fas fa-file-archive mr-1"></i> Bidding</a>
                            </li>
                            <li>
                                <a asp-page="/Vendor/VendorAccessPoint"><i class="fas fa-file-archive mr-1"></i> Access Point</a>
                            </li>
                            <li>
                                <a asp-page="/Vendor/PreBidding"><i class="fas fa-file-archive mr-1"></i> Pre-Bidding</a>
                            </li>
                        </ul>
                    </li>
                    <li is-admin-control="true">
                            <a href="#workflowSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                                <i class="fas fa-user-alt mr-1"></i> Manage Workflow
                            </a>
                            <ul class="collapse list-unstyled" id="workflowSubmenu">
                                @*<li>
                <a asp-page="/Staff/Workflow/Prequalification"><i class="fas fa-file-archive mr-1"></i> Prequalification</a>
            </li>*@
                                <li>
                                    <a asp-page="/Staff/Workflow/WorkflowSetup"><i class="fas fa-file-archive mr-1"></i> Workflow Setup</a>
                                </li>
                                <li>
                                    <a asp-page="/Staff/Workflow/WorkflowActionSetup"><i class="fas fa-file-archive mr-1"></i> Workflow Actions</a>
                                </li>
                                <li>
                                    <a asp-page="/Staff/Workflow/WorkflowCategory"><i class="fas fa-file-archive mr-1"></i> Workflow Categories</a>
                                </li>
                            </ul>
                    </li>
                    <li is-admin-control="true">
                        <a href="#criteriaSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <i class="fas fa-list mr-1"></i> Manage Criteria
                        </a>
                        <ul class="collapse list-unstyled" id="criteriaSubmenu">
                            <li>
                                <a asp-page="/Staff/Criteria/General"><i class="fas fa-file-archive mr-1"></i> General Criteria</a>
                            </li>
                            <li>
                                <a asp-page="/Staff/Criteria/Category"><i class="fas fa-file-archive mr-1"></i> Category Criteria</a>
                            </li>
                            <li>
                                <a asp-page="/Staff/Criteria/SubCategory"><i class="fas fa-file-archive mr-1"></i> Sub-category Criteria</a>
                            </li>
                            <li>
                                <a asp-page="/Staff/Criteria/Item"><i class="fas fa-file-archive mr-1"></i> Item Criteria</a>
                            </li>
                        </ul>
                    </li>
                    <li is-admin-control="true">
                            <a href="#pagesSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                                <i class="fas fa-file-alt mr-1"></i> Setup
                            </a>
                            <ul class="collapse list-unstyled" id="pagesSubmenu">
                                <li>
                                    <a asp-page="/Staff/UoM/Index"><i class="fas fa-file-invoice mr-1"></i> UoM</a>
                                </li>
                                <li>
                                    <a asp-page="/Staff/Administration/GroupManagement"><i class="fas fa-file-archive mr-1"></i>User Management</a>
                                </li>
                                <li>
                                    <a asp-page="/Staff/Administration/UserMigration"><i class="fas fa-file-invoice mr-1"></i> User Migration</a>
                                </li>
                                <li>
                                    <a asp-page="/Staff/PreQSetup"><i class="fas fa-file-invoice mr-1"></i> Prequalification Setup</a>
                                </li>

                               </ul>
                    </li>
                </ul>
            </nav>
            <!----End Sidebar ---->
            <button type="button" id="sidebarCollapse" class="navbar-btn no-print">
                <span></span>
                <span></span>
                <span></span>
            </button>


        }
        <!---- Sidebar ---->


        <div id="content" class="container-fluid">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
                <div class="container-fluid">

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <partial name="_LoginPartial" />
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>&copy; 2019 - DcProcurement</p>
            </footer>
        </div>

    </div>


    <script src="~/lib/popper/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/print.js"></script>

    <script src="~/lib/DataTables/datatables.js"></script>
    <script>
        // Use datepicker on the date inputs
        
      @* 1. add a date input tag e.g for a sample mydate property <input class="form-control" data-date="date" data-id="mydate" value=@(Model.mydate != null ? Model.mydate.ToString() : null) />
        2. add a hidden field for posting the form e.g < input type = "hidden" data-id="mydate" asp-for= "Requisition.mydate" />
         
          
          N.B 
          a. the data-date="date" attribute is used by the jquery ui library to format the visible control as a date field using the GB culture
          b. the data-id="mydate" links the hidden element with the visible
          *@

         
        $("input[data-date=date]").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: new Date(),
            onSelect: function (dateText, inst) {
                $(inst).val(dateText); // Write the value in the input,

                var id = $(this).data('id');
                var hidDateField = $('input:hidden[data-id=' + id + ']').first();

                //get the datepicker date in default format
                var d = $(this).datepicker('getDate');

                //format the date in asp format
                var e = $.datepicker.formatDate("mm/dd/yy", d);

                //set asp date field
                hidDateField.val(e);
            }
        });
        //$(".datepicker").datepicker({
        //    dateFormat: "dd/mm/yy",
        //    onSelect: function (dateText, inst) {
        //        //alert(dateText);
        //        var d = $(this).datepicker('getDate');

        //        var e = $.datepicker.formatDate("mm/dd/yy", d);
        //        alert(e);
        //        $(".dateee").val(e);
        //       //alert(e);
        //    }
        //});

        // Code below to avoid the classic date-picker
        $("input[data-date=date]").on('click', function () {
            return false;
        });

                    //var t = $('.table').DataTable({
                    //    "columnDefs": [{
                    //        "searchable": false,
                    //        "orderable": false,
                    //        "targets": 0
                    //    }],
                    //    "order": [[1, 'asc']]

                    //});

                    //t.on('order.dt search.dt', function () {
                    //    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    //        cell.innerHTML = i + 1;
                    //    });
                    //}).draw();

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
