@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using DcProcurement

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ProcurementDBContext _context

@if (SignInManager.IsSignedIn(User))
{
    var aspUser = await UserManager.GetUserAsync(User);
    var curUser = await _context.Vendors.FindAsync(aspUser.Id);

    if (curUser == null)
    {
        await SignInManager.SignOutAsync();
        return;
    }

    var notificationNum = 0;

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="w-100">

        <li class="dropdown float-right list-unstyled">
            <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">
                <i class="fas fa-user-circle fa-2x mr-4"></i>
                @if (notificationNum > 0)
                {
                    <span id="noti" class="badge badge-pill badge-danger">!</span>
                }
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <div class="navbar-login pr-2">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="text-center">
                                    <i class="fas fa-user icon-size"></i>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <p class="text-left small">@curUser.Email</p>
                                <p class="text-left">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="ml-0 btn btn-primary btn-block btn-sm">Account</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <div class="navbar-login navbar-login-session">
                        <div class="row">
                            <div class="col-12">
                                <a asp-page="/Staff/JobViews/PreqJobs" class="btn btn-link navbar-btn navbar-link col-12 text-left pl-2">
                                    Procurement Tasks
                                    <span class="badge badge-pill badge-danger float-right">@notificationNum</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="navbar-login navbar-login-session">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </form>
}
else
{
    <li class="nav-item mr-2"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    <li class="nav-item mr-2"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
}
