@using DcProcurement.Contexts
@model List<Category>

<!DOCTYPE html>


<table id="catCodeTable" class="table table-striped">
    <thead>
        <tr>
            <th>Category Code</th>
            <th>Category Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button class="btn btn-link btncatCodeName" itemName="@item.Descr" value="@item.Code">@item.Code</button>
                </td>
                <td>@item.Descr</td>
            </tr>
        }
    </tbody>
</table>