@using BsslProcurement.Pages.Staff
@model List<BsslProcurement.Pages.Staff.ItemRequisition.NewRequisitionModel.requesterObj>

@section Styles{
}

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Approving Authority : </label>
                <select class="form-control">
                    <option>--Select--</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12">
            <label>Staff Id : </label>
            <span class="d-flex flex-row">
                <input id="txtprepared"  class="form-control" readonly />
                <button class="btn loadStaffModal" value="txtprepared" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <div class="col-sm-12">
            <label>Staff Name : </label>
            <span class="d-flex flex-row">
                <input class="form-control" readonly id="txtpreparedRank" />
            </span>
        </div>
        <div class="col-sm-12">
            <label>Designation : </label>
            <span class="d-flex flex-row">
                <input class="form-control" readonly id="txtDesignation" />
            </span>
        </div>
    </div>