@using BsslProcurement.Interfaces
@using Microsoft.AspNetCore.Mvc.Rendering;
@using BsslProcurement.ViewModels

@inject IWorkFlowService  WorkflowService

@{
    List<SelectListItem> ActionTypeItems = (await WorkflowService.GetNextWorkActionflowSteps(1)).Select(m => new SelectListItem { Value = m.Id.ToString(), Text = m.Name }).ToList();
}
@model WorkFlowApproverViewModel

<style>
    .workflowloader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        -webkit-animation: workflowspin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @@keyframes workflowspin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Approving Authority : </label>
            <select class="form-control" asp-items="ActionTypeItems" asp-for="WorkFlowActionId">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <label>Staff Id : </label>
        <span class="d-flex flex-row">
            <input eleId="txtWorkflowStaffCode" asp-for="AssignedStaffCode"  class="form-control" readonly />
            <button class="btn loadWorkflowStaffModal"><i class="fa fa-search"></i></button>
        </span>
    </div>
    <div class="col-sm-12">
        <label>Staff Name : </label>
        <span class="d-flex flex-row">
            <input class="form-control" asp-for="AssignedStaffName" readonly eleId="txtWorkflowStaffName" />
        </span>
    </div>
    <div class="col-sm-12">
        <label>Designation : </label>
        <span class="d-flex flex-row">
            <input class="form-control" readonly eleId="txtWorkflowStaffDesignation" />
        </span>
    </div>
</div>

<div class="modal" id="staffWorkflowModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Staff Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="workflowgrid"></div>
            </div>
            <div id="workflowspinner" class="d-flex justify-content-center">
                <div class="workflowloader">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenURL" value="@Url.Action("GetStaffWorkflowPartial", "Staff", new { id = "1" })" />
<script>

    //to load staff modal for selecting next workflow staff
    $(function () {
        $('.loadWorkflowStaffModal').on('click', function () {
            $('#workflowgrid').empty();
            $('#workflowspinner').addClass('d-flex');
            $('#workflowspinner').show();
            $('#staffWorkflowModal').modal("show");

            var url = '@Url.Action("GetStaffWorkflowPartial", "Staff", new { id = "1" })';//$('hiddenURL').val();
            $('#workflowgrid').load(url, function () {
                $('#workflowspinner').removeClass('d-flex');
                $('#workflowspinner').hide();
                $('#staffTable').dataTable();

                $('.btnStaffName').on('click', function () {
                    //assign staff name textbox
                   // $().attr()
                    $('#txtWorkflowStaffName').val($(this).val());
                        
                    //assign staff code textbox
                    $('#txtWorkflowStaffCode').val($(this).text());

                    //assign staff rank textbox
                    $('#txtWorkflowStaffDesignation').val($(this).attr('staffrank'));

                    //$('#forStaffText').val();
                    $('#staffWorkflowModal').modal("hide");
                    return false;
                });
            });

            return false;
        });
    });
</script>