@using BsslProcurement.ViewModels
@model List<StaffLayoutModel>
@section Styles{
}

<table id="staffTable" class="table table-striped">
    <thead>
        <tr>
            <th>Staff Code</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            <tr>
                <td>
                    <button class="btn btn-link btnStaffName" staffrank="@staff.Rank" value="@staff.StaffName">@staff.StaffCode</button>
                </td>
                <td>@staff.StaffName</td>


            </tr>
        }
    </tbody>
</table>

@section Scripts{


}