@using DcProcurement
@model BsslProcurement.ViewModels.StaffWithEmailViewModel


@section Styles{
}


<div class="modal" id="staffWithEmailModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Staff Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table id="staffTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Staff No.</th>
                            <th>Staff Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.StaffWithEmailList.Count; i++)
                        {

                            var htmlCheckboxName = $"StaffWithEmailList[{i}].isSelected";
                            var htmlCheckboxId = $"StaffWithEmailList_{i}__isSelected";
                            var p = Model.StaffWithEmailList[i];
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="StaffWithEmailList[i].Id" />
                                    <input type="checkbox" name=@htmlCheckboxName id=@htmlCheckboxId value="true" @(p.isSelected ? "checked" : "") />
                                </td>
                                <td>
                                    <input asp-for="StaffWithEmailList[i].Number" readonly />
                                </td>
                                <td>
                                    <input asp-for="StaffWithEmailList[i].Name" readonly />
                                </td>
                                <td>
                                    <input asp-for="StaffWithEmailList[i].Email" readonly />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="staffEmailBtn" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
        //loads staff modal
        function loadStaffWithEmailModal() {
            $('#staffWithEmailModal').modal("show");
            return false;
        }

    $(document).ready(function () {
       var table = $('#staffTable').DataTable({
            columnDefs: [
                { "type": "html-input", "targets": [1, 2, 3] }
            ]
        });

        $.fn.dataTableExt.ofnSearch['html-input'] = function (value) {
            return $(value).val();
        };


        //binds checkboxes and other data not showing on datatable
        $('form').on('submit', function (e) {
            var form = this;


            var params = table.rows().nodes().to$().find('input').serializeArray();

            console.log(params);
            // Iterate over all form elements
            $.each(params, function () {
                // If element doesn't exist in DOM
                if (!$.contains(document, form[this.name])) {
                    // Create a hidden element
                    $(form).append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', this.name)
                            .val(this.value)
                    );
                }
            });
        });

    });
</script>
