@page
@using DcProcurement
@model BsslProcurement.ProcurementJobsModel
@{
    ViewData["Title"] = "ProcurmentJobs";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@functions{
    private (string url, string actionName) GetTaskNameAndUrlFromAction(int? actionId)
    {
        switch (actionId)
        {
            case Constants.ProcurementCostingActionId:
                return ("/staff/itemrequisition/itempricing/allrequisitionitempricing",Constants.ProcurementCostingAction);
            case Constants.ApproverActionId:
                return ("/staff/itemrequisition/itempricing/allrequisitionitempricing",Constants.ApproverAction);
            case Constants.AuthorizerActionId:
                return ("/staff/itemrequisition/itempricing/allrequisitionitempricing",Constants.AuthorizerAction);
            case Constants.ApproveRaiseERFxActionId:
                return ("/staff/itemrequisition/itempricing/allrequisitionitempricing", Constants.ApproveRaiseERFxAction);
            case Constants.RaiseERFxActionId:
                return ("/staff/itemrequisition/bidpreparation/clearedrequisitions",Constants.RaiseERFxAction);
            default:
                return (null, null);
        }
    }

}

<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <form method="post" class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">Procurement Tasks</p>
                </div>
                <hr>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <div class="alert alert-success alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Message
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                <div class="alert alert-danger alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Error
                </div>
            }

            @if (Model.ProcurementJobsGroups.Count() > 0)
            {

                <div class="container bg-white shadow my-4">
                    <div class="row">


                        @foreach (var jobGroup in Model.ProcurementJobsGroups)
                        {
                            <div class="col-xl-3 col-md-4 col-sm-6 my-3">
                                <div class="container-fluid">
                                    <div class="row p-2 border rounded border-width-2 border-danger">
                                        <div class="col-4 v-center">
                                            <div class="bg-danger rounded-circle text-center" style="height:50px; width:50px;">
                                                <i class="fas fa-info text-white mt-3"></i>
                                            </div>
                                        </div>
                                        <div class="col-8 text-black-50 text-right">
                                            <p class="h3 mb-0">@jobGroup.Count()</p>
                                            <a asp-page=@GetTaskNameAndUrlFromAction(jobGroup.Key).url><p class="mb-0 font-italic" style="line-height:20px; font-size:16px;"> @GetTaskNameAndUrlFromAction(jobGroup.Key).actionName</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            }

        </form>
    </div>
</div>
