@page
@model BsslProcurement.Pages.Test.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<label>@Model.SuccessCount Staff added out of @Model.StaffCount</label>
<form method="post">
    <input class="date" />
    <input type="hidden" asp-for="date" class="dateee" />

    <input type="submit" />
</form>
