@page
@model BsslProcurement.Pages.Test.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<label>@Model.SuccessCount Staff added out of @Model.StaffCount</label>
<form method="post">

    <input type="submit" value="Add Users" asp-page-handler="AddUsers" />


    <button data-preview="0" class="btnPreviewItemAttachment">Preview</button>
    @{ await PrintName("Bola");}
</form>
@*<partial name="~/Pages/Shared/Modals/_AttachmentViewPartial.cshtml" model="Model.files" />*@

@functions{
    async Task PrintName(string c)
    {
        switch (c)
        {
            case "John":
                <div>
                    <a asp-page="../staff/Index">John</a>

                </div>
                break;
            case "Bola":
                <div>
                    <a asp-page="../staff/Index">Bola</a>

                </div>
                break;
            default:
                break;
        }

    }
}