@page
@model BsslProcurement.Pages.Staff.ItemRequisition.ItemProcurementMethodModel
@{
    ViewData["Title"] = "ItemProcurementMethod";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="row mt-5 justify-content-center">
    <div class="col-md-8">
        <form class="panel panel-login" method="post" enctype="multipart/form-data">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">Setup Procurement Method</p>
                </div>
                <hr>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row p-2">
                        <div class="col-sm-12">
                            <div class="d-flex flex-row">
                                <input id="" class="form-control" placeholder="Search table below..." />
                                <button class="btn" data-toggle="modal">Search</button>
                            </div>
                        </div>

                        <div class="mt-3 mb-5 col-sm-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="table-primary">
                                        <th>PR No.</th>
                                        <th>Item Description</th>
                                        <th>Date Published</th>
                                        <th>Quantity/Lot No</th>
                                        <th>Budget Year</th>
                                        <th>Quote/Submit Bid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="modal-footer justify-content-center">
                        @*  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                        <input id="btnSubmit" class="btn btn-lg btn-primary" value="Save" type="submit" placeholder="" />

                    </div>
        </form>
    </div>
</div>