/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background: #fafafa;
    font-family: 'Poppins', sans-serif;
}

p {
    /*font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;*/
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #aaa;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*   Sidebar and Content    */
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ccc;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #aaa;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #aaa;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li a:hover {
        color: #aaa;
        background: #fff;
    }

#sidebar ul li.active > a, a[aria-expanded="true"] {
}
#sidebar ul{
    background: #bbb;
    color: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#navbar {
    margin-left: -40px;
    margin-right: -40px;
}

#content {
    width: calc(100% - 250px);
    padding: 0 40px 10px 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

    #content.active {
        width: 100%;
    }

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
            transform: none;
        }

    #content {
        width: 100%;
        padding: 0 5px 10px 5px;
    }

        #content.active {
            width: 100%;
            margin-left: 250px;
        }

    #navbar {
        margin-left: -5px;
        margin-right: -5px;
    }
    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse {
        left: 0 !important;
    }

        #sidebarCollapse.active {
            left: 250px !important;
        }
            /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
            #sidebarCollapse.active span {
                margin: 0 auto;
            }

                #sidebarCollapse.active span:first-of-type {
                    transform: rotate(45deg) translate(2px, 2px);
                }

                #sidebarCollapse.active span:nth-of-type(2) {
                    opacity: 0;
                }

                #sidebarCollapse.active span:last-of-type {
                    transform: rotate(-45deg) translate(1px, -1px);
                }
}
/*   End Sidebar and Content    */

/*   Sidebar Toggle Button    */
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #aaa;
    color: #fff;
    position: fixed;
    top: 15px;
    left: 250px;
    z-index: 1000;
    transition: all 0.3s;
}

    #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #fff;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    }

        #sidebarCollapse span:first-of-type {
            /* rotate first one */
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse span:nth-of-type(2) {
            /* second one is not visible */
            opacity: 0;
        }

        #sidebarCollapse span:last-of-type {
            /* rotate third one */
            transform: rotate(-45deg) translate(1px, -1px);
        }

    #sidebarCollapse.active span {
        /* no rotation */
        transform: none;
        /* all bars are visible */
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active {
        left: 0;
    }
/*   Sidebar Toggle Button    */

/*Login form codes*/
.panel-login {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 20px 15px 20px;
}

    .panel-login > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }

.header-text {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.form-btn {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    width: 100%;
    text-transform: uppercase;
    border-color: #59B2E6;
}

    .form-btn:hover,
    .form-btn:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

#noti{
    float:right;
    margin-right:20px;
    margin-top:5px;
}